<!-- Editable table -->
<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" routerLink="/climate/create">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Название точки отопления</th>
          <th class="text-center">Имя порта термометра</th>
          <th class="text-center">Имя порта коллектора</th>
          <th class="text-center">Номер контура отопления</th>
          <th class="text-center">Текущая температура</th>
          <th class="text-center">Необходимая температура</th>
          <th class="text-center">Состояние контура</th>
          <th class="text-center">Отключить помещение</th>
        </tr>
        <tr *ngFor="let climate of climateList; let id = index">
          <td>
            <span contenteditable="false">{{climate.name}}</span>
          </td>
          <td>
            <span contenteditable="false">{{climate.thermometerPortName}}</span>
          </td>
          <td>
            <span contenteditable="false">{{climate.collectorPortName}}</span>
          </td>
          <td>
            <span contenteditable="false">{{climate.collectorPinNumber}}</span>
          </td>
          <td>
            <span contenteditable="false">{{climate.currentTemperature}}</span>
          </td>
          <td>
            <span contenteditable="true"
                  (blur)="updateList(id, 'requiredTemperature', $event)">{{climate.requiredTemperature}}</span>
          </td>
          <td>
            <span contenteditable="false">{{climate.heaterOn ? 'Открыт' : 'Закрыт'}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
