<div id="watering">
  <h3 class="text-center text-white pt-5"></h3>
  <div class="container">
    <div id="watering-row" class="row justify-content-center align-items-center">
      <div id="watering-column" class="col-md-6">
        <div id="watering-box" class="col-md-10">
          <form id="watering-form" (ngSubmit)="submit()">
            <h3 class="text-center text-info">Стриминговый ресурс</h3>
            <br>
            <div class="form-group">
              <label for="name" class="text-info">Название точки видеонаблюдения:</label><br>
              <input type="text" id="name" [formControl]="name">
            </div>
            <div class="form-group">
              <label for="location" class="text-info">Месторасположение точки видеонаблюдения:</label><br>
              <input type="text" id="location" [formControl]="location">
            </div>
            <div class="form-group">
              <label for="videoUrl" class="text-info">Видео:</label><br>
              <input type="text" id="videoUrl" [formControl]="videoUrl">
            </div>
            <div class="form-group">
              <button class="btn btn-info btn-md">Создать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
