<!-- Editable table -->
<div class="card">
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="nav-link" routerLink="/watering/create">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Название пункта полива</th>
          <th class="text-center">Расположение</th>
          <th class="text-center">Имя порта передатчика</th>
          <th class="text-center">Расписание полива</th>
          <th class="text-center">Длительность полива</th>
          <th class="text-center">Отменить полив</th>
        </tr>
        <tr *ngFor="let watering of wateringList; let number = index">
          <td>
            <span contenteditable="false">{{watering.name}}</span>
          </td>
          <td>
            <span contenteditable="false">{{watering.location}}</span>
          </td>
          <td>
            <span contenteditable="false">{{watering.wateringPortName}}</span>
          </td>
          <td>
            <span contenteditable="true"
                  (blur)="updateList(number, 'wateringCron', $event)">{{watering.wateringCron}}</span>
          </td>
          <td>
            <span contenteditable="true"
                  (blur)="updateList(number, 'wateringDuration', $event)">{{watering.wateringDuration}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      (click)="remove(number)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
