<div id="watering">
  <h3 class="text-center text-white pt-5"></h3>
  <div class="container">
    <div id="watering-row" class="row justify-content-center align-items-center">
      <div id="watering-column" class="col-md-6">
        <div id="watering-box" class="col-md-10">
          <form id="watering-form" (ngSubmit)="submit()" >
            <h3 class="text-center text-info">Пользователь:</h3>
            <br>
            <div class="form-group">
              <label for="name" class="text-info">Имя:</label><br>
              <input type="text" id="name" [formControl]="name">
            </div>
            <div class="form-group">
              <label for="surname" class="text-info">Фамилия:</label><br>
              <input type="text" id="surname" [formControl]="surname">
            </div>
            <div class="form-group">
              <label for="role" class="text-info">Роль:</label><br>
              <input type="text" id="role" [formControl]="role">
            </div>
            <div class="form-group">
              <label for="login" class="text-info">Логин:</label><br>
              <input type="text" id="login" [formControl]="login">
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Пароль:</label><br>
              <input type="text" id="password" [formControl]="password">
            </div>
            <div class="form-group">
              <button class="btn btn-info btn-md">Создать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
